[submodule "microservice/ProblemMicro"]
	path = microservice/ProblemMicro
	url = https://github.com/DmytroTHR/ProblemMicro.git
[submodule "microservice/SupplierMicro"]
	path = microservice/SupplierMicro
	url = git@github.com:goRoman1/SupplierMicro.git
