<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/templates/img/favicon.png">
    <title>Problem list</title>
</head>
<body>
<header>
    <div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
             style="background-color:#545454FF !important; padding: 1em !important;">
            <i class="fas fa-bicycle fa-2x"></i>
            &nbsp;
            <b><a class="navbar-brand" href="/">Dnepr Scooters</a></b>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Back to profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/models">Go to models</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mStations">Add stations</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<h3>Add Station</h3>
<div class="table-responsive">
    <form method="post" action="/microAddStation">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <td>Latitude</td>
                <td>Longitude</td>
                <td>Select Locations</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" name="stationName" placeholder=""/>
                </td>
                <td>
                    <input type="number" name="latitude" placeholder="latitude"/>
                </td>
                <td>
                    <input type="number" name="longitude" placeholder="longitude"/>
                </td>                <td>
                <select id="location_data" name="location_data"
                        class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    {{range .LocationList.Location}}
                    <option value="{{.ID}}" >{{.Label}}</option>
                    {{end}}
                </select>
                </td>
                <td>
                    <input type="submit" value="Add station" />
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>


<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Name</th>
            <td>Latitude</td>
            <td>Longitude</td>
        </tr>
        </thead>
        <tbody>
        {{range .StationList.Station}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Latitude}}</td>
            <td>{{.Longitude}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>

</div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
</body>
</html>